section{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100vw;
    height: 100vh;
}
.next{
    position: fixed;
    right: 20px;
    width: 50px;
    height: 50px;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border-radius: 100%;
}
.icon{
    width: 60%;
    height: 60%;
}
.Step1{
    background-color: blue;
    flex-direction: column;
    background-image: url(../images/theophile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.Step2{
    background-color: rgb(41, 34, 145);
    flex-direction: column;
    background-image: url(../images/jeune-fille.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.Step3{
    background-color: green;
    flex-direction: column;
}
.Step4{
    background-color: red;
    flex-direction: column;
}
.Step5{
    background-color: purple;
    flex-direction: column;
    height: 750px;
}
h2{
    margin-bottom: 40px;
    color: yellow;
    font-size: 24px;
}
p{
    margin-bottom: 20px;
}
.poeme{
    max-width: 600px;
    text-align: center;
}